node_modules/
.yarn
.idea
.vscode

# artefactos
dist
build
backend/imagenes

# utilities
*.bat
*.sh

# Keep environment variables out of version control
.env

# testing
/coverage
**.http

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
