




.centrado{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.margen{
    width: 100%;
    align-items: first baseline;
    justify-content: left;
    padding-left: 16.3% ;
    padding-top: 2% ;
}


.formulario {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.page{
    margin-top: 15px;
    padding-bottom: 20px;
}


