.prueba {
    /* Tarjeta de Crédito */


position: absolute;
height: 44.54px;
left: 18.17%;
right: 60.99%;
top: 192.03px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #161615;

}


.tarjeta{

position: absolute;
width: 383px;
height: 245px;
left: 728px;
top: 372px;
}


.subtexto{
    position: absolute;
height: 83.15px;
left: 18.17%;
right: 32.89%;
top: 248.35px;

/* alt-font-sm */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: rgba(0, 0, 0, 0.7);
}



.centrado{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.margen{
    width: 100%;
    align-items: first baseline;
    justify-content: left;
    padding-left: 15% ;
    padding-top: 2% ;
}


.formulario {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.page{
    margin-top: 15px;
    padding-bottom: 20px;
}

.form1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 403px;
height: 47px;
left: 308px;
top: 395px;
}

.form2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 403px;
height: 47px;
left: 308px;
top: 471px;
}